.detail-container {
    margin-top: 5%;
}

.book-details-container {
    display: flex;
    margin: 0 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 5%;
    border-radius: 20px;
}

.book-image-wrapper {
    width: 200px;
    height: auto;
    margin-right: 40px;
    display: flex;
    align-items: center; 

}
.book-image-wrapper img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.book-details {
    flex: 1;
}


.book-details .title {
    font-size: 20px;
    font-weight: bold;
}

.book-details .review {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.book-details .review img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.book-details .review span {
    font-size: 13px;
    color: #808080;
    vertical-align: middle;
}
.book-details .author {
    font-size: 16px;
    color: gray;
    font-weight: bold;
}

.book-details .description {
    font-style: italic;
    font-size: 15px;
}

.book-details .price {
    font-weight: bold;
    font-size: 14px;
    color: blue;
}


